<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ArithmeticController</display-name>
    <servlet-name>ArithmeticController</servlet-name>
    <servlet-class>controller.ArithmeticController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArithmeticController</servlet-name>
    <url-pattern>/ArithmeticController</url-pattern>
  </servlet-mapping>
  <display-name>JSP_MVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowCase</display-name>
    <servlet-name>ShowCase</servlet-name>
    <servlet-class>controller.ShowCase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCase</servlet-name>
    <url-pattern>/ShowCase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleInterest</display-name>
    <servlet-name>SimpleInterest</servlet-name>
    <servlet-class>controller.SimpleInterest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleInterest</servlet-name>
    <url-pattern>/SimpleInterest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AreaofCircle</display-name>
    <servlet-name>AreaofCircle</servlet-name>
    <servlet-class>controller.AreaofCircle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaofCircle</servlet-name>
    <url-pattern>/AreaofCircle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Palindrome</display-name>
    <servlet-name>Palindrome</servlet-name>
    <servlet-class>controller.Palindrome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Palindrome</servlet-name>
    <url-pattern>/Palindrome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Area</display-name>
    <servlet-name>Area</servlet-name>
    <servlet-class>controller.Area</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Area</servlet-name>
    <url-pattern>/Area</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Palindrom</display-name>
    <servlet-name>Palindrom</servlet-name>
    <servlet-class>controller.Palindrom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Palindrom</servlet-name>
    <url-pattern>/Palindrom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>controller.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer</display-name>
    <servlet-name>Customer</servlet-name>
    <servlet-class>model.Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer</servlet-name>
    <url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
</web-app>